<mat-toolbar class="navbar">
  <div class="navbar__left">
    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="navbar__center">
    <a routerLink="/posts" class="navbar__logo-link">
      <img src="tweexxtter-logo.png" alt="Tweexxtter" height="36" />
    </a>
  </div>

  <div class="navbar__right">
    @if (currentUser()) {
      <button mat-button class="user-chip" routerLink="/profile">
        <span class="user-chip__name">{{ currentUser()!.name }}</span>
        <img
          [src]="currentUser()!.avatarUrl"
          [alt]="currentUser()!.name"
          class="user-chip__avatar"
        />
      </button>
    }
  </div>
</mat-toolbar>
